{% extends "./base.html" %}
{% block title %}検索結果 - {{ block.super }}{% endblock %}
{% block content %}
<div class="ui grid stackable">
  <div class="eleven wide column">
      <div class="ui segment">
          <div class="content">
              <div class="header"><h3>検索結果</h3></div>
              <form action="{% url 'polilink_app:council_meeting_admin' %}" method="GET">
                  <div class="ui action input" style="width: 100%;">
                    <input type="text" placeholder="council id" value="{{council_id}}" name="council_id">
                    <input type="text" placeholder="council url" value="{{query}}" name="url">
                    <button class="ui button">検索</button><br>
                  </div>
                  <a href="{% url 'polilink_app:council_meeting_admin' %}?council_id=a2cced95a4b84bbe8885dd82514045af&url=https%3A%2F%2Fwww.mext.go.jp%2Fb_menu%2Fshingi%2Fchousa%2Fshotou%2F158%2Fgiji_list%2Findex.htm">教育データの利活用に関する有識者会議</a>
              </form>
              {% if council_meeting_list %}
              {% for result in council_meeting_list %}
              <div class="ui segment message">
                  INSERT INTO `polilink_api_councilmeeting` (`id`,
                  `name`,
                  `place`, `order`, `meeting_date`, `council_id`,
                  `url_document`,
                  `url_minute`) <br>
                VALUES<br>
                  (REPLACE(uuid(), '-', ''),
                   '{{result.name}}',
                   '{{result.place}}', {{result.order}}, '{{result.meeting_date}}', '{{ result.council_id }}',
                   '{{result.url_document}}',
                   '{{result.url_minute}}');<br>      
              </div>
              {% endfor %}
              {% else %}
              <div class="ui segment warning message">
                  <p>{{query}}<br>
                    検索結果はありません。</p>
              </div>
              {% endif %}
          </div>
          <br><br><br><br>
          サンプル<br>
          INSERT INTO `polilink_api_councilmeeting` (`id`,
            `name`,
            `place`, `order`, `meeting_date`, `council_id`,
            `url_document`,
            `url_minute`) <br>
          VALUES<br>
            ('04605cdc5ac445bfb929b2eb3fd1cd17',
             '新型コロナウイルス感染症対策テックチーム Anti-Covid-19 Tech Team キックオフ会議',
             '中央合同庁舎８号館８階共用大会議室', 1, '2020-04-06', '0c2ca594ed044fd497de1b7951dcc522',
             'https://cio.go.jp/techteam_kickoff',
             'https://cio.go.jp/sites/default/files/uploads/documents/techteam_20200406_03.pdf'),<br>
            ('049b3258c9f04589bb7f36fc8a59d9c4', '第３回新型コロナウイルス感染症対策テックチーム Anti-Covid-19 Tech Team', '中央合同庁舎８号館１階講堂', 3, '2020-05-08', '0c2ca594ed044fd497de1b7951dcc522', 'https://cio.go.jp/node/2604', 'https://cio.go.jp/sites/default/files/uploads/documents/techteam_20200508_08.pdf');<br>

      </div>
  </div>
</div>
{% endblock %}
